*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #292929;
  
}

@keyframes Mover {
  0%{
    bottom: 0;
  }
  10%{
    bottom: 10%;
  }
  20%{
    bottom: 20%;
  }
  30%{
    bottom: 30%;
  }
  40%{
    bottom: 30%;
  }
  50%{
    bottom: 30%;
  }
  60%{
    bottom: 20%;
  }
  70%{
    bottom: 10%;
  }
  80%{
    bottom: 0%;
  }
  90%{
    bottom: 0%;
  }
  100%{
    bottom: 0%;
  }
}

